// VARIABLES
$primarycolor:rgb(255, 0, 85);
$black:black;
$background:linear-gradient(25deg,rgb(183, 0, 255),rgb(255, 0, 85));
$backgroundtwo:linear-gradient(to right,rgb(29, 238, 133),rgb(0, 204, 255));
@mixin flex{
    display: flex;
    justify-content: space-between;
}
body{
    background:black;
    color: $black;
}
.box{
    width: 1400px;
    height: 730px;
    background: $backgroundtwo;
    margin: 10px auto;
}
.subbox{
    width: 1398px;
    height: 728px;
    background:black;
   position: absolute;
   margin-left: 1px;
   margin-top: 1px;
   @include flex;
}
.sidenav{
    height: 728px;
    width: 25%;
    background: $backgroundtwo;
}
.message{
    position: absolute;
    width: 300px;
    height: 180px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0px 1px 5px rgba( 0,0,0,0.5);
    text-align: center;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1048px;
  }
  
  #customers td, #customers th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f25b;}
  #customers tr:nth-child(odd){background-color: #f2f2f23a;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(20, 140, 170);
    color: white;
  }

  .snavbox{
    margin-left: 20px;
    margin-top: 60px;
    color: rgb(4, 17, 92);
}
  .form-control{
    width: 240px;
}
.snavbut{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: $backgroundtwo;
}
.copyright{
    height: 75px;
    width: 1048px;
    margin-left: 350px;
    background: rgb(0, 0, 0);
    margin-top: 486px;
    color: rgb(15, 255, 223);
    
    text-align: center;
    
}
.ctext{
    font-size: 45px;
    font-family: 'Comfortaa', cursive;
    color:$primarycolor ;
    width: 700px;
    height: 50px;
    margin-top: 30px;
    margin-left: 250px;
}
.form-control{
    width: 250px;
    margin-left: 10px;
    margin-right: 5px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    
}