<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap" rel="stylesheet">
<body>
    <div>1</div>
    <div class="box">
    <div class="subbox">
                         <div class="sidenav">
                            <div class="snavbox">
                                <h1>Welcome back!<h4>Access user details</h4></h1> 
                              <button class="snavbut" (click)="listpr()" (click)="listp()">GET</button>
                               </div>
                               <div class="message"><h2>Message<h6>Post method by Http module</h6></h2><span style="color: rgb(6, 132, 236);">{{json}} </span></div>
                               <div class="copyright">
                                   &copy; All rights are reserved<br>
                                   Krish__official
                               </div>
                         </div>
                         <div class="content">
                             <div class="ctext"> HTTP - <span style="color: rgb(6, 132, 236); width: 300px;">API </span>INT<span style="color: rgb(167, 236, 6);">EGRA</span> <span style="color: rgb(6, 201, 236);">TION</span></div>
                             <input class="form-control" type="text" [(ngModel)]="name" placeholder="Enter text to update Message ">  <button class="snavbut" (click)="postname()">POST</button>
                             <br> <br>
                           
                                     <table id="customers">
                                         <tr>
                                             <th>ID</th>
                                             <th>NAME</th>
                                             <th>USERNAME</th>
                                             <th>EMAIL</th>
                                             <th>ADDRESS</th>
                                         </tr>
                                         <tr *ngFor="let i of user" >
                                          <td>{{i.id}}</td>
                                          <td>{{i.name}}</td>
                                          <td>{{i.username}}</td>
                                          <td>{{i.email}}</td>
                                          <td>{{i.address.city}}</td>
                                         </tr>
                                    </table>
                         </div>
    </div>
    </div>
</body>

